In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('data_source.csv')

C:\Users\alexa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dataset.head()

,case_number,visa_class,case_status,employer_name,employer_business_dba,employer_address,employer_city,employer_state,employer_postal_code,employer_country,...,new_concurrent_employment,change_employer,amended_petition,pw_wage_level,pw_source,pw_source_year,pw_source_other,support_h1b,labor_con_agree,public_disclosure_location
0,I-200-17060-115035,H-1B,CERTIFIED,"SIMERICS, INC.",NaN,1750 112TH AVENUE NE,BELLEVUE,WA,98004,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level II,Other,2016.0,OFLC ONLINE DATA CENTER,NaN,NaN,NaN
1,I-200-17060-521850,H-1B,CERTIFIED,"MIZUHO BANK, LTD.",NaN,1251 AVENUE OF THE AMERICAS,NEW YORK,NY,10020,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,NaN,NaN,NaN
2,I-200-17060-438863,H-1B,CERTIFIED,TATA CONSULTANCY SERVICES LIMITED,NaN,9201 CORPORATE BOULEVARD,ROCKVILLE,MD,20850,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,Y,NaN,NaN
3,I-200-17060-312033,H-1B,CERTIFIED,"STRATEGIC RESOURCES INTERNATIONAL, INC.",NaN,777 WASHINGTON RD,PARLIN,NJ,08859,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level I,Other,2016.0,OFLC ONLINE DATA CENTER,Y,Y,NaN
4,I-200-17060-336602,H-1B,CERTIFIED,"EAPT SOLUTIONS, INC.",NaN,5 VAUGHN STREET,PRINCETON,NJ,08540,UNITED STATES OF AMERICA,...,0.0,1.0,0.0,Level I,OES,2016.0,OFLC ONLINE DATA CENTER,Y,NaN,NaN

In [4]:
dataset.shape

(624650, 52)

In [31]:
dataset.dtypes

case_number                     object
visa_class                      object
case_status                     object
employer_name                   object
employer_business_dba           object
employer_address                object
employer_city                   object
employer_state                  object
employer_postal_code            object
employer_country                object
employer_province               object
employer_phone                  object
employer_phone_ext              object
naics_industry_code             object
soc_name                        object
soc_code                        object
job_title                       object
total_workers                    int64
case_submitted                  object
decision_date                   object
employment_start_date           object
employment_end_date             object
full_time_position              object
prevailing_wage                float64
pw_unit_of_pay                  object
wage_rate_of_pay_from          float64
wage_rate_of_pay_to            float64
wage_unit_of_pay                object
worksite_city                   object
worksite_county                 object
worksite_state                  object
worksite_postal_code            object
agent_attorney_name             object
agent_representing_employer     object
agent_attorney_city             object
agent_attorney_state            object
h1b_dependent                   object
willful_violator                object
original_cert_date              object
new_employment                 float64
continued_employment           float64
change_previous_employment     float64
new_concurrent_employment      float64
change_employer                float64
amended_petition               float64
pw_wage_level                   object
pw_source                       object
pw_source_year                 float64
pw_source_other                 object
support_h1b                     object
labor_con_agree                 object
public_disclosure_location     float64
dtype: object

In [5]:
dataset.columns

Index(['case_number', 'visa_class', 'case_status', 'employer_name',
       'employer_business_dba', 'employer_address', 'employer_city',
       'employer_state', 'employer_postal_code', 'employer_country',
       'employer_province', 'employer_phone', 'employer_phone_ext',
       'naics_industry_code', 'soc_name', 'soc_code', 'job_title',
       'total_workers', 'case_submitted', 'decision_date',
       'employment_start_date', 'employment_end_date', 'full_time_position',
       'prevailing_wage', 'pw_unit_of_pay', 'wage_rate_of_pay_from',
       'wage_rate_of_pay_to', 'wage_unit_of_pay', 'worksite_city',
       'worksite_county', 'worksite_state', 'worksite_postal_code',
       'agent_attorney_name', 'agent_representing_employer',
       'agent_attorney_city', 'agent_attorney_state', 'h1b_dependent',
       'willful_violator', 'original_cert_date', 'new_employment',
       'continued_employment', 'change_previous_employment',
       'new_concurrent_employment', 'change_employer', 'amended_petition',
       'pw_wage_level', 'pw_source', 'pw_source_year', 'pw_source_other',
       'support_h1b', 'labor_con_agree', 'public_disclosure_location'],
      dtype='object')

In [6]:
#Column used for h-1b requirement 

dataset['visa_class'].value_counts()

H-1B               610304
E-3 Australian      12157
H-1B1 Singapore      1254
H-1B1 Chile           935
Name: visa_class, dtype: int64

In [9]:
dataset['case_status'].value_counts()

CERTIFIED              545694
CERTIFIED-WITHDRAWN     49704
WITHDRAWN               20772
DENIED                   8480
Name: case_status, dtype: int64

In [11]:
dataset['employer_city'].value_counts().head(10)

PLANO            34320
NEW YORK         31022
CHICAGO          25581
ROCKVILLE        14499
EDISON           12670
PHILADELPHIA     12057
DURHAM           11638
SAN FRANCISCO    11199
TROY             10938
IRVING           10445
Name: employer_city, dtype: int64

In [13]:
dataset['employer_state'].value_counts().head(10)

CA    105701
TX     87664
NJ     76061
NY     44097
IL     41296
MI     27320
PA     25564
MA     23383
MD     21394
WA     20786
Name: employer_state, dtype: int64

In [17]:
dataset['employer_province'].value_counts().head(10)

MIDDLESEX         1541
EAST BRUNSWICK     635
CALIFORNIA         382
USA                276
COOK               262
ALAMEDA            256
LOUDOUN            185
MICHIGAN           158
WASHINGTON         113
NEW JERSEY          88
Name: employer_province, dtype: int64

In [22]:
dataset['worksite_city'].value_counts().head(10)

NEW YORK         37722
SAN FRANCISCO    16145
HOUSTON          13416
CHICAGO          11757
ATLANTA          11115
SAN JOSE         10916
IRVING            8818
SEATTLE           8630
SUNNYVALE         8282
DALLAS            8056
Name: worksite_city, dtype: int64

In [23]:
dataset['worksite_county'].value_counts().head(10)

SANTA CLARA      41862
NEW YORK         37684
KING             22563
DALLAS           21697
MIDDLESEX        21469
COOK             17641
LOS ANGELES      17411
SAN FRANCISCO    15678
HARRIS           14040
FULTON           13151
Name: worksite_county, dtype: int64

In [24]:
dataset['worksite_state'].value_counts().head(10)

CA    119409
TX     66163
NY     54974
NJ     42571
IL     32082
WA     25476
MA     25016
GA     22521
FL     21815
PA     21600
Name: worksite_state, dtype: int64

In [ ]:
#Why are the counts for employer and worksite cities and states different?

In [27]:
dataset.describe(include = 'all')

,case_number,visa_class,case_status,employer_name,employer_business_dba,employer_address,employer_city,employer_state,employer_postal_code,employer_country,...,new_concurrent_employment,change_employer,amended_petition,pw_wage_level,pw_source,pw_source_year,pw_source_other,support_h1b,labor_con_agree,public_disclosure_location
count,624650,624650,624650,624594,43270,624643,624635,624632,624632,528143,...,624650.000000,624650.000000,624650.000000,500930,624604,624605.000000,618278,240476,244975,0.0
unique,624650,4,4,71170,9441,64378,5123,57,10962,5,...,NaN,NaN,NaN,4,5,NaN,3083,2,2,NaN
top,I-200-17215-187678,H-1B,CERTIFIED,INFOSYS LIMITED,"MASTECH DIGITAL TECHNOLOGIES, INC.",6100 TENNYSON PARKWAY,PLANO,CA,75024,UNITED STATES OF AMERICA,...,NaN,NaN,NaN,Level I,OES,NaN,OFLC ONLINE DATA CENTER,Y,Y,NaN
freq,1,610304,545694,20587,837,20748,34320,105701,22815,528132,...,NaN,NaN,NaN,221848,504806,NaN,580142,231915,233715,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.008979,0.259485,0.332703,NaN,NaN,2016.167059,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.157690,1.095563,1.418231,NaN,NaN,5.128159,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.000000,150.000000,50.000000,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN

In [28]:
dataset['worksite_county'].value_counts()['MANHATTAN']

113

In [40]:
dataset['employer_province'].value_counts().head(10)

MIDDLESEX         1541
EAST BRUNSWICK     635
CALIFORNIA         382
USA                276
COOK               262
ALAMEDA            256
LOUDOUN            185
MICHIGAN           158
WASHINGTON         113
NEW JERSEY          88
Name: employer_province, dtype: int64

In [ ]:
#going to use worksite county for manhattan requirement 
#going to use worksite city for SF requirement 
#going to use prevailing wage for wage requirement
#going to use visa class for h-1b requirement

In [114]:
manhattan_data = dataset.loc[(dataset['worksite_county'] == 'MANHATTAN') & (dataset['visa_class'] == 'H-1B')]

In [115]:
len(manhattan_data)

64

In [116]:
manhattan_data.head()

,case_number,visa_class,case_status,employer_name,employer_business_dba,employer_address,employer_city,employer_state,employer_postal_code,employer_country,...,new_concurrent_employment,change_employer,amended_petition,pw_wage_level,pw_source,pw_source_year,pw_source_other,support_h1b,labor_con_agree,public_disclosure_location
8235,I-200-17065-479178,H-1B,DENIED,PAZ COLLECTIVE INC,NaN,37 W 39TH ST,NEW YORK,NY,10018,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,NaN,OES,2015.0,NaN,NaN,Y,NaN
21822,I-200-17065-972398,H-1B,CERTIFIED,ZONI LANGUAGE CENTERS,ZONI LANGUAGE CENTERS,22 WEST 34TH STREET,NEW YORK,NY,10001,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level I,OES,2017.0,OFLC ONLINE DATA CENTER,NaN,Y,NaN
23187,I-200-17065-687473,H-1B,CERTIFIED,ZONI LANGUAGE CENTERS,ZONI LANGUAGE CENTERS,22 WEST 34TH STREET,NEW YORK,NY,10001,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level I,OES,2017.0,OFLC ONLINE DATA CENTER,NaN,Y,NaN
27116,I-200-17055-967104,H-1B,WITHDRAWN,GEMS THE EDUCATION PARTNERS INC.,NaN,70 W 40TH STREET,NEW YORK,NY,10018,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level I,OES,2017.0,OFLC ONLINE DATA CENTER,NaN,NaN,NaN
47146,I-200-16285-191526,H-1B,DENIED,1199 SEIU UNITED HEALTHCARE WORKERS EAST,NaN,310 WEST 43RD ST,NEW YORK,NY,10036,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level II,OES,2016.0,NaN,NaN,Y,NaN

In [117]:
sf_data = dataset.loc[(dataset['worksite_city'] == 'SAN FRANCISCO') & (dataset['visa_class'] == 'H-1B') & 
                     (dataset['worksite_state'] == 'CA')]

In [118]:
len(sf_data)

15095

In [119]:
sf_data['worksite_state'].value_counts()

CA    15095
Name: worksite_state, dtype: int64

In [120]:
sf_data.head()

,case_number,visa_class,case_status,employer_name,employer_business_dba,employer_address,employer_city,employer_state,employer_postal_code,employer_country,...,new_concurrent_employment,change_employer,amended_petition,pw_wage_level,pw_source,pw_source_year,pw_source_other,support_h1b,labor_con_agree,public_disclosure_location
15,I-200-17060-073256,H-1B,CERTIFIED,INFOSTRETCH CORPORATION,NaN,"3200 PATRICK HENRY DRIVE, SUITE 250",SANTA CLARA,CA,95054,UNITED STATES OF AMERICA,...,0.0,1.0,0.0,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,Y,NaN,NaN
49,I-200-17060-084474,H-1B,CERTIFIED,NISUM TECHNOLOGIES INC.,NaN,500 S. KRAEMER BOULEVARD,BREA,CA,92821,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,Y,NaN,NaN
89,I-200-17060-197654,H-1B,CERTIFIED,"MACY'S.COM, LLC",NaN,680 FOLSOM STREET,SAN FRANCISCO,CA,94107,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,NaN,Other,2016.0,WILLIS TOWERS WATSON PROFESSIONAL (TECH & OPS)...,NaN,NaN,NaN
96,I-200-17060-222611,H-1B,CERTIFIED,"CLOUDFLARE, INC.",NaN,101 TOWNSEND STREET,SAN FRANCISCO,CA,94107,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level IV,OES,2016.0,OFLC ONLINE DATA CENTER,NaN,NaN,NaN
98,I-200-17060-050056,H-1B,CERTIFIED,"CLOUDFLARE, INC.",NaN,101 TOWNSEND STREET,SAN FRANCISCO,CA,94107,UNITED STATES OF AMERICA,...,0.0,0.0,0.0,Level II,OES,2016.0,OFLC ONLINE DATA CENTER,NaN,NaN,NaN

In [121]:
#finding yearly average wage 
manhattan_data['prevailing_wage'].mean()

60934.659374999996

In [122]:
#finding yearly average wage
sf_data['prevailing_wage'].mean()

97728.53141768798

## Wage in SF is significantly higher than in NY

In [123]:
sf_data.columns

Index(['case_number', 'visa_class', 'case_status', 'employer_name',
       'employer_business_dba', 'employer_address', 'employer_city',
       'employer_state', 'employer_postal_code', 'employer_country',
       'employer_province', 'employer_phone', 'employer_phone_ext',
       'naics_industry_code', 'soc_name', 'soc_code', 'job_title',
       'total_workers', 'case_submitted', 'decision_date',
       'employment_start_date', 'employment_end_date', 'full_time_position',
       'prevailing_wage', 'pw_unit_of_pay', 'wage_rate_of_pay_from',
       'wage_rate_of_pay_to', 'wage_unit_of_pay', 'worksite_city',
       'worksite_county', 'worksite_state', 'worksite_postal_code',
       'agent_attorney_name', 'agent_representing_employer',
       'agent_attorney_city', 'agent_attorney_state', 'h1b_dependent',
       'willful_violator', 'original_cert_date', 'new_employment',
       'continued_employment', 'change_previous_employment',
       'new_concurrent_employment', 'change_employer', 'amended_petition',
       'pw_wage_level', 'pw_source', 'pw_source_year', 'pw_source_other',
       'support_h1b', 'labor_con_agree', 'public_disclosure_location'],
      dtype='object')

In [127]:
#seeing if whether a case study has been certified will affect wage levels

sf_data.groupby('case_status')['prevailing_wage'].mean()

case_status
CERTIFIED              98249.933738
CERTIFIED-WITHDRAWN    94036.198800
DENIED                 89460.480625
WITHDRAWN              96091.387512
Name: prevailing_wage, dtype: float64

In [128]:
manhattan_data.groupby('case_status')['prevailing_wage'].mean()

case_status
CERTIFIED              61379.441633
CERTIFIED-WITHDRAWN    52530.500000
DENIED                 60025.173333
WITHDRAWN              61734.500000
Name: prevailing_wage, dtype: float64

In [126]:
#seeing if whether work roles are full time or part time have an impact 

sf_data.groupby('full_time_position')['prevailing_wage'].mean()

full_time_position
N       35.413869
Y    98828.045302
Name: prevailing_wage, dtype: float64

In [62]:
manhattan_data.groupby('full_time_position')['prevailing_wage'].mean()

full_time_position
N       28.346000
Y    66096.211356
Name: prevailing_wage, dtype: float64

In [ ]:
'pw_unit_of_pay', 'wage_rate_of_pay_from',
       'wage_rate_of_pay_to', 'wage_unit_of_pay'

In [63]:
#seeing if unit of pay has anything to do with difference in between wage levels 

manhattan_data['pw_unit_of_pay'].value_counts()

Year    57
Hour     7
Name: pw_unit_of_pay, dtype: int64

In [64]:
manhattan_data.groupby('pw_unit_of_pay')['prevailing_wage'].mean()

pw_unit_of_pay
Hour       30.028571
Year    68414.175439
Name: prevailing_wage, dtype: float64

In [65]:
sf_data['pw_unit_of_pay'].value_counts()

Year         14650
Hour           468
Bi-Weekly        2
Month            1
Name: pw_unit_of_pay, dtype: int64

In [66]:
sf_data.groupby('pw_unit_of_pay')['prevailing_wage'].mean()

pw_unit_of_pay
Bi-Weekly      4556.000000
Hour            177.327115
Month         10370.500000
Year         100841.613659
Name: prevailing_wage, dtype: float64

In [67]:
#could be that if an employer doesnt support h1b then the wages aren't as high 

sf_data['support_h1b'].value_counts()

Y    2955
N      72
Name: support_h1b, dtype: int64

In [68]:
manhattan_data['support_h1b'].value_counts()

Y    5
N    3
Name: support_h1b, dtype: int64

In [69]:
sf_data.groupby('support_h1b')['prevailing_wage'].mean()

support_h1b
N    79847.087639
Y    87494.851191
Name: prevailing_wage, dtype: float64

In [70]:
manhattan_data.groupby('support_h1b')['prevailing_wage'].mean()

support_h1b
N    74390.0
Y    94294.8
Name: prevailing_wage, dtype: float64

In [72]:
manhattan_data.groupby('willful_violator')['prevailing_wage'].mean()

willful_violator
N     60187.590476
Y    108000.000000
Name: prevailing_wage, dtype: float64

In [73]:
sf_data.groupby('willful_violator')['prevailing_wage'].mean()

willful_violator
N    97713.711524
Y    81560.333333
Name: prevailing_wage, dtype: float64

In [74]:
sf_data['willful_violator'].value_counts()

N    15115
Y        6
Name: willful_violator, dtype: int64

In [75]:
manhattan_data['willful_violator'].value_counts()

N    63
Y     1
Name: willful_violator, dtype: int64

In [76]:
sf_data['employer_city'].value_counts()

SAN FRANCISCO       8085
NEW YORK             531
PLANO                401
PHILADELPHIA         327
SECAUCUS             290
SAN JOSE             268
FREMONT              241
SANTA CLARA          213
SEATTLE              202
CHICAGO              200
MOUNTAIN VIEW        196
SUNNYVALE            186
BREA                 183
TAMPA                149
BOSTON               144
SAN RAFAEL           117
TROY                  98
WILMINGTON            95
DALLAS                90
SAN MATEO             89
ROCKVILLE             88
REDMOND               77
IRVING                69
PLEASANTON            68
EAST BRUNSWICK        68
RICHMOND              56
SAN RAMON             53
AUSTIN                53
WASHINGTON            51
DURHAM                50
                    ...
ALEXANDRIA             1
NORTH BRUNSWICK,       1
PARK CITY              1
JEFFERSON CITY         1
EDINA                  1
MONTVILLE              1
KATY                   1
CLIVE                  1
SUGAR LAND             1
STAFFORD               1
CLAWSON                1
RUTHERFORD             1
KEEGO HARBOR           1
LAUREL                 1
LA JOLLA               1
WASHINGTON DC          1
METUCHEN               1
MARLBORO               1
HEALDSBURG             1
CINNAMINSON            1
HOOD RIVER             1
ANDOVER                1
AMARILLO               1
EAGAN                  1
RIDGEFIELD PARK        1
SKOKIE                 1
FEDERAL WAY            1
MAHWAH                 1
EMERYVILLE             1
TARRYTOWN              1
Name: employer_city, Length: 427, dtype: int64

In [77]:
manhattan_data['employer_city'].value_counts()

NEW YORK            38
HACKENSACK           3
MOUNTAIN VIEW        3
SAN JOSE             2
FOREST HILLS         2
NEW YORK CITY        2
MIDDLETOWN           2
NORTH BRUNSWICK      2
WILMINGTON           2
ROME                 2
LONG ISLAND CITY     1
SPRING               1
EDEN PRAIRIE         1
WASHINGTON           1
BERKELEY             1
WOODBRIDGE           1
Name: employer_city, dtype: int64

In [141]:
sf_data.groupby('employer_city')['prevailing_wage'].mean()['NEW YORK']

91136.28671698114

In [140]:
manhattan_data.groupby('employer_city')['prevailing_wage'].mean()

employer_city
BERKELEY                41.660000
EDEN PRAIRIE         55744.000000
FOREST HILLS         93000.000000
HACKENSACK           79373.000000
LONG ISLAND CITY    104936.000000
MIDDLETOWN           95514.000000
MOUNTAIN VIEW        84600.666667
NEW YORK             56670.195789
NEW YORK CITY        46664.500000
NORTH BRUNSWICK      70221.000000
ROME                 60580.000000
SAN JOSE             28239.490000
SPRING               90813.000000
WASHINGTON           79123.000000
WILMINGTON              25.560000
WOODBRIDGE          135283.000000
Name: prevailing_wage, dtype: float64

In [78]:
sf_data['pw_wage_level'].value_counts()

Level I      3992
Level II     3826
Level III    2359
Level IV     2006
Name: pw_wage_level, dtype: int64

In [79]:
manhattan_data['pw_wage_level'].value_counts()

Level I      40
Level II      5
Level III     4
Level IV      3
Name: pw_wage_level, dtype: int64

In [80]:
sf_data.groupby('pw_wage_level')['prevailing_wage'].mean()

pw_wage_level
Level I       68824.550626
Level II      93600.892551
Level III    115111.065731
Level IV     132955.686196
Name: prevailing_wage, dtype: float64

In [81]:
manhattan_data.groupby('pw_wage_level')['prevailing_wage'].mean()

pw_wage_level
Level I       44246.813500
Level II      92006.800000
Level III     99118.750000
Level IV     102294.666667
Name: prevailing_wage, dtype: float64

In [ ]:
#manhattan subset has much less data and much more Level 1 wage levels which contribute to an overall lower average of wage 
#SF data has much more data to work with and much more salaries from higher level wages,
#which could be contributing to the overall higher average wage

In [82]:
#what does pw mean?

sf_data['pw_source'].value_counts()

OES      13311
Other     1702
CBA        108
Name: pw_source, dtype: int64

In [83]:
manhattan_data['pw_source'].value_counts()

OES      47
Other    17
Name: pw_source, dtype: int64

In [84]:
sf_data.groupby('pw_source')['prevailing_wage'].mean()

pw_source
CBA      52874.152315
OES      99081.517797
Other    89804.712009
Name: prevailing_wage, dtype: float64

In [85]:
manhattan_data.groupby('pw_source')['prevailing_wage'].mean()

pw_source
OES      65082.971489
Other    49465.796471
Name: prevailing_wage, dtype: float64

In [86]:
sf_data['wage_unit_of_pay'].value_counts()

Year         14651
Hour           464
Month            4
Bi-Weekly        2
Name: wage_unit_of_pay, dtype: int64

In [87]:
sf_data.groupby('wage_unit_of_pay')['prevailing_wage'].mean()

wage_unit_of_pay
Bi-Weekly      4556.000000
Hour            833.211056
Month         36749.305000
Year         100804.681765
Name: prevailing_wage, dtype: float64

In [88]:
manhattan_data['wage_unit_of_pay'].value_counts()

Year    57
Hour     7
Name: wage_unit_of_pay, dtype: int64

In [89]:
manhattan_data.groupby('wage_unit_of_pay')['prevailing_wage'].mean()

wage_unit_of_pay
Hour       30.028571
Year    68414.175439
Name: prevailing_wage, dtype: float64

In [ ]:
#no signifigant insight here

In [129]:
sf_data['pw_source_year'].value_counts()

2016.0    11176
2017.0     3069
2015.0      518
2014.0      258
2013.0       71
2012.0        3
Name: pw_source_year, dtype: int64

In [130]:
manhattan_data['pw_source_year'].value_counts()

2016.0    33
2017.0    28
2015.0     2
2013.0     1
Name: pw_source_year, dtype: int64

In [131]:
sf_data.groupby('pw_source_year')['prevailing_wage'].mean()

pw_source_year
2012.0     49966.000000
2013.0     82827.881972
2014.0     89411.718140
2015.0     95923.943764
2016.0     97346.352965
2017.0    100515.424321
Name: prevailing_wage, dtype: float64

In [132]:
manhattan_data.groupby('pw_source_year')['prevailing_wage'].mean()

pw_source_year
2013.0    67205.000000
2015.0    57650.000000
2016.0    64609.476667
2017.0    56614.302500
Name: prevailing_wage, dtype: float64

In [133]:
sf_data['soc_name'].value_counts()

SOFTWARE DEVELOPERS, APPLICATIONS                     4825
COMPUTER SYSTEMS ANALYSTS                             1428
COMPUTER OCCUPATIONS, ALL OTHER                       1120
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                 1087
COMPUTER PROGRAMMERS                                   548
ACCOUNTANTS AND AUDITORS                               511
OPERATIONS RESEARCH ANALYSTS                           486
MANAGEMENT ANALYSTS                                    432
COMPUTER AND INFORMATION SYSTEMS MANAGERS              402
FINANCIAL ANALYSTS                                     397
MARKET RESEARCH ANALYSTS AND MARKETING SPECIALISTS     284
COMPUTER SYSTEMS ANALYST                               245
GRAPHIC DESIGNERS                                      221
STATISTICIANS                                          195
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS            126
BIOCHEMISTS AND BIOPHYSICISTS                          124
MARKETING MANAGERS                                     109
SALES ENGINEERS                                        108
FINANCIAL SPECIALISTS, ALL OTHER                       107
DATABASE ADMINISTRATORS                                 98
GENERAL AND OPERATIONS MANAGERS                         89
CIVIL ENGINEERS                                         86
ARCHITECTURAL AND ENGINEERING MANAGERS                  84
INFORMATION SECURITY ANALYSTS                           74
SOFTWARE QUALITY ASSURANCE ENGINEERS AND TESTERS        72
WEB DEVELOPERS                                          70
ARCHITECTS, EXCEPT LANDSCAPE AND NAVAL                  69
COMPUTER AND INFORMATION RESEARCH SCIENTISTS            65
MULTIMEDIA ARTISTS AND ANIMATORS                        59
FINANCIAL MANAGERS                                      58
                                                      ...
COMPLIANCE MANAGERS                                      1
HUMAN FACTORS ENGINEERS AND ERGONOMISTS                  1
ECONOMICS TEACHERS, POSTSECONDARY                        1
EDUCATION ADMINISTRATORS, ALL OTHER                      1
EDUCATIONAL, GUIDANCE, SCHOOL, AND VOCATIONAL            1
SOLAR PHOTOVOLTAIC INSTALLERS                            1
DENTISTS, GENERAL                                        1
BIOMEDICAL ENGINEER                                      1
SPECIAL EDUCATION TEACHERS, KINDERGARTEN AND             1
CIVIL ENGINEERING TECHNICIANS                            1
MIDDLE SCHOOL TEACHERS, EXCEPT SPECIAL AND               1
MEDICAL AND HEALTH SERVICES MANAGERS                     1
TAX PREPARERS                                            1
PHYSICIAN ASSISTANTS                                     1
MATERIALS SCIENTISTS                                     1
COMPUTER SYSTEMS ANALYSTS, NON R&D                       1
HEALTH EDUCATORS                                         1
ARTISTS AND RELATED WORKERS, ALL OTHER                   1
FINANCIAL EXAMINERS                                      1
MARKET RESEARCH ANALYST                                  1
MECHATRONICS ENGINEERS                                   1
PSYCHOLOGY TEACHERS, POSTSECONDARY                       1
ENGINEERING TEACHERS, POSTSECONDARY                      1
HEALTH TECHNOLOGISTS AND TECHNICIANS, ALL OTHER          1
FIRE-PREVENTION AND PROTECTION ENGINEERS                 1
ORTHOTISTS AND PROSTHETISTS                              1
SALES REPRESENTATIVES, WHOLESALE AND MANUFACTURING       1
TEACHERS AND INSTRUCTORS, ALL OTHER                      1
BIOINFORMATICS SCIENTISTS                                1
AGENTS AND BUSINESS MANAGERS OF ARTISTS,                 1
Name: soc_name, Length: 205, dtype: int64

In [135]:
manhattan_data['soc_name'].value_counts()

SOFTWARE DEVELOPERS, APPLICATIONS                     9
COMPUTER SYSTEMS ANALYSTS                             6
COMPUTER OCCUPATIONS, ALL OTHER                       5
FIRST-LINE SUPERVISORS OF PRODUCTION AND OPERATING    5
CUSTOMER SERVICE REPRESENTATIVES                      5
MANAGEMENT ANALYSTS                                   4
MARKET RESEARCH ANALYSTS AND MARKETING SPECIALISTS    3
ACCOUNTANTS AND AUDITORS                              3
FINANCIAL SPECIALISTS, ALL OTHER                      3
FINANCIAL ANALYSTS                                    3
COMPUTER AND INFORMATION SYSTEMS MANAGERS             2
ADMINISTRATIVE SERVICES MANAGERS                      2
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                 2
MEETING, CONVENTION, AND EVENT PLANNERS               1
BIOLOGICAL SCIENCE TEACHERS, POSTSECONDARY            1
ECONOMISTS                                            1
OPERATIONS RESEARCH ANALYST                           1
LAWYERS                                               1
PUBLIC RELATIONS SPECIALISTS                          1
BIOLOGICAL SCIENTISTS, ALL OTHER                      1
HUMAN RESOURCES SPECIALISTS                           1
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS           1
OFFICE AND ADMINISTRATIVE SUPPORT WORKERS, ALL        1
MULTIMEDIA ARTISTS AND ANIMATORS                      1
OPERATIONS RESEARCH ANALYSTS                          1
Name: soc_name, dtype: int64

In [136]:
sf_data.groupby('soc_name')['prevailing_wage'].mean()

soc_name
ACCOUNTANTS AND AUDITORS                               66060.796986
ACTUARIES                                              95409.736842
ADULT BASIC AND SECONDARY EDUCATION AND LITERACY       55000.000000
ADVERTISING AND PROMOTIONS MANAGERS                    78841.797895
AEROSPACE ENGINEERING AND OPERATIONS TECHNICIANS          30.050000
AEROSPACE ENGINEERS                                   104978.000000
AGENTS AND BUSINESS MANAGERS OF ARTISTS,               43514.000000
AIRCRAFT MECHANICS AND SERVICE TECHNICIANS                30.975000
ANTHROPOLOGISTS AND ARCHEOLOGISTS                      66248.000000
ARCHITECTS, EXCEPT LANDSCAPE AND NAVAL                 59729.002029
ARCHITECTURAL AND CIVIL DRAFTERS                       49989.842745
ARCHITECTURAL AND ENGINEERING MANAGERS                139950.122143
ART DIRECTORS                                          98798.197391
ART, DRAMA, AND MUSIC TEACHERS, POSTSECONDARY          64559.000000
ARTISTS AND RELATED WORKERS, ALL OTHER                 47445.000000
BIOCHEMISTS AND BIOPHYSICISTS                          52482.612903
BIOINFORMATICS SCIENTISTS                             102398.000000
BIOLOGICAL SCIENCE TEACHERS, POSTSECONDARY             60829.750000
BIOLOGICAL SCIENTISTS, ALL OTHER                       67328.105263
BIOLOGICAL TECHNICIANS                                 59934.400000
BIOMEDICAL ENGINEER                                    77147.000000
BIOMEDICAL ENGINEERS                                   84268.175789
BUDGET ANALYSTS                                        65888.500000
BUSINESS INTELLIGENCE ANALYSTS                         91239.000000
BUSINESS OPERATIONS SPECIALISTS, ALL OTHER             64426.104706
BUSINESS TEACHERS, POSTSECONDARY                       64508.500000
CHEFS AND HEAD COOKS                                   58032.000000
CHEMICAL ENGINEERS                                     95534.400000
CHEMISTS                                               78676.210000
CHIEF EXECUTIVES                                      158731.325455
                                                          ...
SELF-ENRICHMENT EDUCATION TEACHERS                        22.030000
SOCIAL AND COMMUNITY SERVICE MANAGERS                  31153.915000
SOCIAL SCIENCE RESEARCH ASSISTANTS                     15430.415000
SOCIAL SCIENTISTS AND RELATED WORKERS, ALL OTHER       61818.000000
SOCIAL WORKERS, ALL OTHER                              40789.000000
SOFTWARE DEVELOPER, APPLICATIONS                       87679.000000
SOFTWARE DEVELOPER, SYSTEMS SOFTWARE                   84302.000000
SOFTWARE DEVELOPERS, APPLICATIONS                     109375.377938
SOFTWARE DEVELOPERS, APPLICATIONS, NON R&D             54015.176000
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                 122619.763744
SOFTWARE QUALITY ASSURANCE ENGINEERS AND TESTERS       77204.059306
SOFTWARE QUALITY ASSURANCE ENGINEES AND TESTERS        76918.000000
SOLAR PHOTOVOLTAIC INSTALLERS                          46758.000000
SPECIAL EDUCATION TEACHERS, KINDERGARTEN AND           63317.000000
SPECIAL EDUCATION TEACHERS, PRESCHOOL                  45099.000000
STATISTICAL ASSISTANTS                                 53539.500000
STATISTICIANS                                         108628.051282
SURVEY RESEARCHERS                                     44072.660000
TAX EXAMINERS AND COLLECTORS, AND REVENUE AGENTS       68099.000000
TAX PREPARERS                                          73258.000000
TEACHERS AND INSTRUCTORS, ALL OTHER                    49943.000000
TECHNICAL WRITERS                                      73164.513125
TRAINING AND DEVELOPMENT MANAGERS                     124184.200000
TRAINING AND DEVELOPMENT SPECIALISTS                   74956.000000
TRANSPORTATION, STORAGE, AND DISTRIBUTION MANAGERS    104623.857143
URBAN AND REGIONAL PLANNERS                            73544.000000
VETERINARIANS                                          45284.862500
WEB DEVELOPERS                                         76543.822000
WHOLESALE AND RETAIL BUYERS, EXCEPT FARM PRODUCTS      54885.000000
WRITERS AND AUTHORS                                    54704.516250
Name: prevailing_wage, Length: 205, dtype: float64

In [137]:
manhattan_data.groupby('soc_name')['prevailing_wage'].mean()

soc_name
ACCOUNTANTS AND AUDITORS                               37282.603333
ADMINISTRATIVE SERVICES MANAGERS                      137640.000000
BIOLOGICAL SCIENCE TEACHERS, POSTSECONDARY             57130.000000
BIOLOGICAL SCIENTISTS, ALL OTHER                       38189.000000
COMPUTER AND INFORMATION SYSTEMS MANAGERS             107723.000000
COMPUTER OCCUPATIONS, ALL OTHER                        27945.536000
COMPUTER SYSTEMS ANALYSTS                              70693.443333
CUSTOMER SERVICE REPRESENTATIVES                       25188.600000
ECONOMISTS                                                37.070000
FINANCIAL ANALYSTS                                     66234.333333
FINANCIAL SPECIALISTS, ALL OTHER                       47590.000000
FIRST-LINE SUPERVISORS OF PRODUCTION AND OPERATING     42270.800000
HUMAN RESOURCES SPECIALISTS                            74984.000000
LAWYERS                                                79123.000000
MANAGEMENT ANALYSTS                                    40540.745000
MARKET RESEARCH ANALYSTS AND MARKETING SPECIALISTS     84663.333333
MEETING, CONVENTION, AND EVENT PLANNERS                37170.000000
MULTIMEDIA ARTISTS AND ANIMATORS                       47757.000000
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS           115856.000000
OFFICE AND ADMINISTRATIVE SUPPORT WORKERS, ALL         30118.000000
OPERATIONS RESEARCH ANALYST                            55744.000000
OPERATIONS RESEARCH ANALYSTS                          108555.000000
PUBLIC RELATIONS SPECIALISTS                           31000.000000
SOFTWARE DEVELOPERS, APPLICATIONS                      90893.777778
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                  72363.000000
Name: prevailing_wage, dtype: float64

In [142]:
9/63

0.14285714285714285

In [143]:
4825/15095

0.3196422656508778

In [148]:
ny_data = dataset.loc[(dataset['worksite_city'] == 'NEW YORK') & (dataset['visa_class'] == 'H-1B')]

In [149]:
ny_data['prevailing_wage'].mean()

78040.26546737213